include LICENSE
include NOTICE
include PERFORMANCE.md
include README.md
include SECURITY.md
include requirements-dev.txt
include requirements.txt
include run.py
recursive-include benchmarks *.py
recursive-include sr_tool/locale *.json
recursive-include tests *.py
